body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 16, 152);
}

.div2{
    max-height: 70vh;
    height: 90vh;
    width: 65%;
    background-color: lightblue;
    border-radius: 40px;
}

.wrapper{
    position: relative;
    left: 80px;
    top: 60px;
    font-size: 15px;    
}

.para{
    font-size: 14px;
}

.form-container input{
    border-radius: 14px;
    margin: 10px;
    padding: 8px;
    position: relative;
    left: 80px;
    width: 20%;
    border: 1px solid grey;
}


.para2{
    font-size: 14px;
    color: rgb(60, 57, 57);
}

.btn{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 25px;
    width: 130px;
    border: 1px solid grey;
    margin: 10px;
    margin-left: 130px;
    margin-top: -30px;
    cursor: pointer;
}

.img{
    width: 40%;
    margin-left: 450px;
    position: relative;
    top: -350px;
}

.forgot{
    display: flex;
    margin-top: -60px;
    margin-left: 300px;
    padding: 50px;
}

.img2{
    width: 38%;
    height: 300px;
    margin-left: 220px;
    margin-top: -300px;
}